.Xauthority
.bash_history
.bash_logout
.cache/
.cargo/
.config/dconf/
.config/gtk-2.0/
.config/neofetch/
.config/nitrogen/
.config/pavucontrol.ini
.config/pulse/
.last_dm
.lesshst
.local/share/
.mozilla/
.python_history
.ssh/
.terminfo/
.viminfo
.viminfo.tmp
clones
